@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Blue: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  --ff-regular: "Rubik", sans-serif;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100dvh;
  padding: 5rem 1.25rem;
  font-family: var(--ff-regular);
  font-weight: var(--ff-regular);
  font-size: 1rem;

  background-color: var(--Very-dark-blue);
}

.user {
  max-width: 100%;
  background-color: var(--Dark-blue);
  border-radius: 12px;
  .user-info {
    background-color: var(--Blue);
    border-radius: 12px;
    padding: 1.75rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--Pale-Blue);
    img {
      max-width: 4rem;
      border-radius: 100%;
      border: 3px solid white;
    }

    span {
      font-size: 13px;
      font-weight: var(--fw-regular);
      color: var(--Pale-Blue);
    }
    h1 {
      font-weight: var(--fw-thin);
      font-size: 1.25rem;
    }
  }

  nav {
    padding: 1.5rem;
    border-bottom-left-radius: 10px;

    form {
      display: flex;
      justify-content: space-between;
      color: var(--Desaturated-blue);

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label {
        color: white;
      }

      label:hover {
        cursor: pointer;
      }
    }
  }
}
main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1rem;

  .work {
    background-color: var(--work);
    background-image: url("images/icon-work.svg");
    background-position: 95% -20%;
  }

  .play {
    background-color: var(--play);
    background-image: url("images/icon-play.svg");
  }

  .study {
    background-color: var(--study);
    background-image: url("images/icon-study.svg");
  }

  .exercise {
    background-color: var(--exercise);
    background-image: url(images/icon-exercise.svg);
  }

  .social {
    background-color: var(--social);
    background-image: url(images/icon-social.svg);
  }

  .selfcare {
    background-color: var(--self-care);
    background-image: url(images/icon-self-care.svg);
  }

  .task {
    padding-top: 2.25rem;
    border-radius: 12px;

    background-repeat: no-repeat;
  }

  .description {
    background-color: var(--Dark-blue);
    border-radius: 9px;
    padding: 1.25rem 1rem;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      color: white;
      font-weight: var(--fw-semi-bold);
      font-size: 18px;
    }

    .hours {
      font-size: 1.75rem;
      color: white;
      font-weight: var(--fw-thin);
    }

    .timeframe {
      color: white;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
